* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

body {
    width: 100vw;
    background: #111111;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
/* background config */
.leftBg {
    position: fixed;
    width: 400px;
    height: 150vh;
    background: #ffb400;
    transform: rotateZ(-20deg);
    top: -200px;
    left: -150px;
    z-index: -1;
}
/* background config END */


.container {
    max-width: 90%;
    margin: 0 auto;
}


.headContent {
    height: 100vh;
    display: flex;
    display: grid;
    grid-template-columns: 40% 50% ;
    align-items: center;
}

.headContent #headImg {
    width: 500px;
    height: 650px;
    background: #d4fbf6;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -15px -25px 20px rgba(51, 51, 51, 0.4);
}

.headContent #headImg img {
    width: 100%;
    border-radius: 20px;
}

#headDesc {
    /* align-items:center; */
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#headDesc .title {
    height: 70px;
 }
#headDesc .title h2 {
    color: #ffb400 ;
}

#headDesc .title h2 {
    font-size: 3em;
    font-weight: bolder;
}

#headDesc p {
    color: #fff;
    line-height: 2em;
    height: fit-content !important;
    padding: 15px 0;
    text-align: left;
}
#headDesc .btn {
    text-align: left;
}
#headDesc .btn button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

#headDesc .btn button.learn-more {
    width: 12rem;
    height: auto;
}

#headDesc .btn button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffb400;
    border-radius: 1.625rem;
}

#headDesc .btn button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#headDesc .btn button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#headDesc .btn button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#headDesc .btn button.learn-more .button-text {
    border: 1px solid #ffb400;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    border-radius: 0 1.675rem 1.675rem 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#headDesc .btn button:hover .circle {
    width: 100%;
}

#headDesc .btn button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#headDesc .btn button:hover .button-text {
    color: #fff;
}

#nav {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 15px;
}

#nav ul {
    height: 100vh;
    color: #fff;
    text-align: left;
    align-items: start;
    display: grid;
    grid-template-rows: 30% 8% 8% 8% 8% 8%;
    list-style: none;
    text-align: center;
}

#nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    position: relative;
    margin: 20px 0;
    /* top: 50px; */
    z-index: 100;
    color: #fff;
    /* margin-top: 20px; */
    width: 50px;
    height: 50px;
    background: #2b2a2a;
    border-radius: 50%;
}
#nav ul li .bxs-sun {
    display: none;
    color: #dbe408;
}

#nav ul li .bx {
    font-size: 1.3em;
}

#nav ul li.active {
    background: #ffb400;
    color: #fff;
}

#nav ul li:hover {
    background: #ffb400;
    cursor: pointer;
}

#nav ul li:nth-child(2):before {
    content: "Home";
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0px 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(2):hover:before {
    visibility: visible;
    width: 150px;
    left: -120px;
    opacity: 1;
}

#nav ul li:nth-child(3):before {
    content: "About";
    letter-spacing: 5px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(3):hover:before {
    visibility: visible;
    left: -120px;
    width: 150px;
    opacity: 1;
}

#nav ul li:nth-child(4):before {
    content: "Portfolio";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(4):hover:before {
    visibility: visible;
    left: -130px;
    opacity: 1;
    width: 160px;
}

#nav ul li:nth-child(5):before {
    content: "Contact";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(5):hover:before {
    visibility: visible;
    left: -120px;
    width: 150px;
    opacity: 1;
}

#nav ul li:nth-child(6):before {
    content: "Blog";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms;
}

#nav ul li:nth-child(6):hover:before {
    visibility: visible;
    left: -80px;
    opacity: 1;
    width: 110px;
}







/* beak at 1100px */

@media (max-width: 1100px) {

    .leftBg {
        display: none;
    }
    .headContent {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
    .headContent #headImg {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-radius: 50%;
    }
    
    .headContent #headImg img {
        border-radius: 50%;
    }
    
    #headDesc {
        margin: 0 auto;
        text-align: center;
        font-size: .8em;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #headDesc .title {
        height: 60px;
     }
    
    #headDesc .title h2 {
        font-size: 2.5em;
    }
    
    #headDesc p {
        line-height: 1.5em;
        height: fit-content !important;
        padding: 15px 0;
        line-height: 2em;
        text-align: center;
    }
    #headDesc .btn {
        text-align: center;
    }
    
    #nav {
        display: flex;
        color: #fff;
        margin: 0 auto;
        /* background: #000; */
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        /* overflow: hidden; */
        background: #000;
    }
    
    #nav ul {
        position: fixed ;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #fff;
        list-style: none;
        text-align: center;
        width: 100%;
        background: #2b2a2a;
        height: fit-content;
    }
    
    #nav ul li {
        justify-content: center;
        align-items: center;
        line-height: 50px;
        position: relative;
        margin: 20px 10px;
        /* top: 50px; */
        z-index: 100;
        color: #fff;
        /* margin-top: 20px; */
        width: 50px;
        height: 50px;
        background: #444444;
        border-radius: 50%;
    }
    
    
    #nav ul li .bx {
        font-size: 1.3em;
    }
    
     
    #nav ul li:before {
        display: none;
    }
    

}