* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;

}

body {
    width: 100vw;
    background: #111111;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

::-webkit-scrollbar {
    display: none;
}

header {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

/* background config */
.leftBg {
    position: fixed;
    width: 400px;
    height: 150vh;
    background: #ffb400;
    transform: rotateZ(-20deg);
    top: -200px;
    left: -150px;
    z-index: -1;
    transition: 300ms;
}

/* background config END */


.container {
    max-width: 90%;
    margin: 0 auto;
}


.headContent {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: red; */
    overflow: hidden;
}

.headContent #headImg {
    width: 400px;
    height: 500px;
    background: #d4fbf6;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -15px -25px 20px rgba(51, 51, 51, 0.4);
}

.headContent #headImg img {
    width: 100%;
    border-radius: 20px;
}

#headDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 550px;
    height: 100%;
}

#headDesc .title {
    height: 70px;
    width: 100%;

}


#headDesc .title h2 {
    font-size: 3em;
    font-weight: bolder;
}

#headDesc p {
    color: #fff;
    line-height: 2em;
    height: fit-content !important;
    padding: 15px 0;
    text-align: left;
}

#headDesc .btn {
    text-align: left;
}

#headDesc .btn button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

#headDesc .btn button.learn-more {
    width: 12rem;
    height: auto;
}

#headDesc .btn button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffb400;
    border-radius: 1.625rem;
}

#headDesc .btn button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#headDesc .btn button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#headDesc .btn button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#headDesc .btn button.learn-more .button-text {
    border: 1px solid #ffb400;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    border-radius: 0 1.675rem 1.675rem 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

#headDesc .btn button:hover .circle {
    width: 100%;
}

#headDesc .btn button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#headDesc .btn button:hover .button-text {
    color: #fff;
}

#nav {
    position: fixed;
    right: 10px;
    z-index: 100;
    top: 0;
    bottom: 0;
}

#nav ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-rows: 150px 70px 70px 70px 70px 70px;
    position: relative;
}

#nav ul li {

    line-height: 50px;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #2b2a2a;
    border-radius: 50%;
    position: relative;
    text-align: center;
    z-index: 100;
}

#nav ul li:first-child {
    background: #000;
}

#nav ul li .bxs-moon {
    line-height: 50px;
}

#nav ul li .bxs-sun {
    display: none;
    line-height: 50px;
    /* color: #dbe408; */
}

#nav ul li .bx {
    font-size: 1.3em;
}

#nav ul li.active {
    background: #ffb400;
    color: #fff;
}

#nav ul li:hover {
    background: #ffb400;
    cursor: pointer;
}

#nav ul li:nth-child(2):before {
    content: "Home";
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0px 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(2):hover:before {
    visibility: visible;
    width: 150px;
    left: -120px;
    opacity: 1;
}

#nav ul li:nth-child(3):before {
    content: "About";
    letter-spacing: 5px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(3):hover:before {
    visibility: visible;
    left: -120px;
    width: 150px;
    opacity: 1;
}

#nav ul li:nth-child(4):before {
    content: "Portfolio";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(4):hover:before {
    visibility: visible;
    left: -130px;
    opacity: 1;
    width: 160px;
}

#nav ul li:nth-child(5):before {
    content: "Contact";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms ease-in;
}

#nav ul li:nth-child(5):hover:before {
    visibility: visible;
    left: -120px;
    width: 150px;
    opacity: 1;
}

#nav ul li:nth-child(6):before {
    content: "Blog";
    position: absolute;
    letter-spacing: 5px;
    right: 0;
    top: 0;
    left: 0;
    background: #ffb400;
    border-radius: 100px 0 0 100px;
    width: 0px;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: 200ms;
}

#nav ul li:nth-child(6):hover:before {
    visibility: visible;
    left: -80px;
    opacity: 1;
    width: 110px;
}

/* About Me Section */


#About {

    min-height: 100vh;
    z-index: 1;
    margin-top: 60px;
}

#About h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: #ffff;
    height: 20px;
    position: relative;
    height: 100px;
}

#About h1:before {
    text-align: center;
    content: 'About Me';
    color: #444;
    letter-spacing: 5px;
    position: absolute;
    z-index: -1;
    font-size: 1.5em;
    left: 0;
    right: 0;
    top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#About h1 span {
    color: #ffb400;
}

#About .container {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}

#About .container .info {
    margin: 15px 40px;
}

#About .container .info h2 {
    margin-bottom: 20px;
    color: #363636;
    font-size: 1.7em;
}

#About .container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#About .container ul li {
    line-height: 2.5em;
    font-size: 14px;
}

#About .container ul li span {
    color: #5e5e5e;
    font-size: 12px;
}



#About .container .boxs {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    margin: 0 auto;
    height: fit-content;
    /* background: #000; */

}

#About .container .boxs .box {
    width: 200px;
    height: 130px;
    border: 1px solid #444;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

#About .container .boxs .box .counter {
    width: 100%;
    height: 100%;
}

#About .container .boxs .box .counter h2 {
    font-size: 2em;
    font-weight: 600;
    color: #ffb400;
}

#About .container .boxs .box .counter h2::after {
    content: '+';
    font-size: .7em;
    position: absolute;
    margin-left: 2px;
}

#About .container .boxs .box .counter p {
    text-align: center;
    width: 50% !important;
    margin: 0 auto;
    font-size: 1em;
    margin-top: 12px;
    position: relative;
    width: 100px;
}



/* From uiverse.io by @adamgiebl */

.btns .cssbuttons-io-button {
    background: #ffb400;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #ffb400;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.btns .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ffb400;
    right: 0.3em;
    transition: all 0.3s;
}

.btns .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.btns .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.btns .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.btns .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* Educations */

.containerEd {
    max-width: 80%;
    margin: 0 auto;
}

#experience {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#edu {
    font-size: 1.2em;
    color: #363636;
    margin: 15px 30px;
    /* color: #fff; */
}

.edContent {
    width: 100%;
    height: fit-content;
}

.edContent .icons {
    width: 35px;
    float: left;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    background: #ffb400;
    position: relative;
    color: #fff;
    margin: 10px;
}

.edContent .icons::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 1px;
    border-left: 1px solid #5e5e5e;
    top: 35px;
    text-align: center;
    /* right: 0; */
    left: 16px;
}

.edContent .content {
    float: right;
    width: 480px;
}

.edContent .content .date {
    font-size: 8px;
    background-color: #212121;
    color: #fff;
    width: fit-content;
    padding: 4px;
    border-radius: 20px;
    font-weight: 200;
    margin: 10px 0;
}

.edContent .content .title {
    font-size: 14px;
    font-weight: 200;
    margin: 8px 0;
}

.edContent .content .title span {
    color: #bebebe;
}

.edContent .content .text {
    font-size: 12px;
    color: #bebebe;
}

/* Portfolio section */
#Portfolio h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: #ffff;
    height: 20px;
    position: relative;
    height: 100px;
    top: 30px;
    margin: 30px;
}

#Portfolio h1:before {
    text-align: center;
    content: 'My Portfolio';
    color: #444;
    letter-spacing: 5px;
    position: absolute;
    z-index: -1;
    font-size: 1.5em;
    left: 0;
    right: 0;
    top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#Portfolio h1 span {
    color: #ffb400;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

#Portfolio {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#Portfolio button.btn {
    border: 1px solid;
    border-radius: 7px;
    padding: 12px 22px;
}

#Portfolio button.btn.btn-primary {
    background: #ffb400;
    border-color: #ffb400;
    color: white;
}

#Portfolio button.btn.btn-primary:hover {
    opacity: 0.7;
}

#Portfolio button.btn.btn-dark {
    background: #ffb400;
    border-color: #ffb400;
    color: white;
}

#Portfolio button.btn.btn-dark:hover {
    opacity: 0.7;
}

#Portfolio button.btn:hover {
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.filter .btn {
    color: white;
    font-weight: bold;
    margin: 0.5rem;
    background: transparent;
    border-color: white;
}

.filter .btn:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.filter .btn.current {
    color: #ffb400;
    background: white;
    border-color: white;
}

.filter .btn.current:hover {
    opacity: 1;
}

.items {
    color: #000c1d;
    /* margin: 4rem 4rem; */
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.items .img {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 150px;
    background: #ccc;
}

.items .title {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffb400;
    top: 0;
    height: 0;
    visibility: hidden;
    border-radius: 5px;
    transition: 360ms;
    opacity: 0;
    text-align: center;
    line-height: 150px;
}

.item:hover .title {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.items .item {
    margin: 0.5rem auto !important;
    width: 90% !important;
    width: 230px;
    height: 150px;
    background: white;
    border-radius: 7px;
    position: relative;
    margin-bottom: 1rem;
}

/* Contact Section */
#Contact h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: #ffff;
    height: 20px;
    position: relative;
    height: 100px;
    top: 30px;
    margin: 30px;
}

#Contact h1:before {
    text-align: center;
    content: 'Contact';
    color: #444;
    letter-spacing: 5px;
    position: absolute;
    z-index: -1;
    font-size: 1.5em;
    left: 0;
    right: 0;
    top: -10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#Contact {
    min-height: 100vh;
    transition: 500ms;
}

#Contact h1 span {
    color: #ffb400;
}

#Contact .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Contact .container .CInfo {
    width: 25%;
    color: #fff;
    margin: 0 25px;
    padding: 5px;
}

#Contact .container .CInfo .social {
    font-size: 1em;
    width: 100%;
    display: inline-block;
}

#Contact .container .CInfo .social i {
    text-align: center;
    line-height: 40px;
    width: 40px;
    margin: 0 5px;
    height: 40px;
    border-radius: 50%;
    background: #252525;
}

#Contact .container .CInfo .social i:hover {
    background: #ffb400;
    cursor: pointer;
}

#Contact .container .CInfo h2 {
    margin-bottom: 20px;
}

#Contact .container .CInfo h3 {
    margin: 10px 0;
}

#Contact .container .CInfo p {
    font-size: 12px;
    line-height: 1.5em;
}

#Contact .container .CInfo .address {
    width: 100%;
    margin: 30px 0;
}

#Contact .container .CInfo .icon {
    float: left;
    width: 60px;
    height: 60px;
    font-size: 3em;
    color: #ffb400;
}

#Contact .container .CInfo h3 {
    width: 100%;
    color: #4f4f4f;
}

#Contact .container .CFrom {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

#Contact .container .CFrom form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Contact .container .CFrom form input {
    width: 350px;
    height: 45px;
    border-radius: 20px;
    border: none;
    padding: 15px;
    margin: 20px 0;
    background-color: #252525;
    color: #fff;
}

#Contact .container .CFrom form input:focus {
    border: 1px solid #ffb400;
    outline: none;
}

#Contact .container .CFrom form textarea:focus {
    border: 1px solid #ffb400;
    outline: none;
}

#Contact .container .CFrom form textarea {
    width: 100%;
    height: 18em;
    padding: 20px;
    resize: none;
    border-radius: 20px;
    border: none;
    background-color: #252525;
    margin-bottom: 30px;
}

#Contact .container .CFrom input.subject {
    width: 100%;
}

/* Blog Section */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


#Blog {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

#Blog .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}


/* BP at 1400px  */
@media (max-width:1400px) {
    #About .container .boxs {
        width: 600px;
        /* background: #000; */

    }
}

.filter {
    z-index: 300;
    position: relative;
}

/* BP at 1100px */

@media (max-width: 1100px) {

    .items {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .item {
        height: 150px;
        background: white;
        border-radius: 7px;
        position: relative;
        margin-bottom: 1rem;
    }

    .leftBg {
        display: none !important;
    }

    .headContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        height: fit-content;
        justify-content: center;
        /* background: #7220ba; */
    }

    .headContent #headImg {
        width: 250px;
        height: 250px;
        margin: 15px auto;
        box-shadow: initial;
        border: 4px solid #ccc;
        border-radius: 50%;
    }

    .headContent #headImg img {
        border-radius: 50%;
    }

    header {
        height: 100vh;
        overflow: hidden;
        /* background: pink; */
        display: flex;
        align-items: center;
    }

    #headDesc {
        margin: 0 auto;
        text-align: center;
        font-size: .8em;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* #headDesc .title {
        margin: 10px;
    } */

    #headDesc .title h2 {
        /* font-size: 2.5em; */
        margin-top: 15px;
    }

    #headDesc p {
        line-height: 1.5em;
        padding: 15px 0;
        line-height: 2em;
        text-align: center;
    }

    #headDesc .btns {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    #nav {
        position: fixed;
        left: 0;
        /* right: 0; */
        width: 0;
        z-index: 10;
        bottom: 0;

    }

    #nav ul {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: #fff;
        list-style: none;
        text-align: center;
        width: 100%;
        background: #2b2b2b;
        z-index: 250;
        background-size: cover;
        background-position: center;
        height: fit-content;
        /* border-radius: 110px 110px 0 0; */
    }

    #nav ul li {
        margin: 20px auto;
        /* top: 50px; */
        z-index: 100;
        color: #fff;
        /* margin-top: 20px; */
        width: 50px;
        height: 50px;
        background: #444444;
        border-radius: 50%;
    }


    #nav ul li .bx {
        font-size: 1.3em;
    }


    #nav ul li:before {
        display: none;
    }

    /* About Me Responsive */



    #About h1 {
        margin: 5px auto;
        text-align: center;
        font-size: 2.5em;
        color: #ffff;
        height: 20px;
        position: relative;
        height: 100px;
    }

    #About h1:before {
        font-size: 1.25em;
        top: -3px;
    }

    #About .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #About .container .info {
        margin: 10px;
    }

    #About .container ul li span {
        display: block;
        text-align-last: left;
    }

    #About .container .info h2 {
        margin-bottom: 20px;
        color: #363636;
        font-size: 1.7em;
    }

    #About .container ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #About .container ul li {
        line-height: 2.3em;
        text-align: center;

    }


    #About .container .boxs {
        grid-template-columns: 180px 180px;
        /* background: #000; */
        width: 90%;
        margin-top: 20px;
    }

    #About .container .boxs .box {
        width: 160px;
        height: 120px;
        margin: 5px auto;
    }

    #About .btns button {
        font-size: 1em;
    }


    /* Educations */

    #experience {
        min-height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 150px 150px 150px 150px 150px 150px;
    }

    .edContent .icons {
        width: 35px;
        /* float: left; */
        clear: both;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        background: #ffb400;
        position: relative;
        color: #fff;
        margin: 10px auto;
        text-align: center;
    }

    .edContent .icons::before {
        display: none;
    }

    .edContent .content {
        width: 250px;
        margin: 10px 0;
    }

    .edContent .content .date {
        font-size: 8px;
        background-color: #212121;
        color: #fff;
        width: fit-content;
        padding: 4px;
        border-radius: 20px;
        font-weight: 200;
        margin: 10px 0;
    }

    .edContent .content .title {
        font-size: 14px;
        font-weight: 200;
        margin: 8px 0;
    }

    .edContent .content .title span {
        color: #bebebe;
    }

    .edContent .content .text {
        font-size: 12px;
        color: #bebebe;
    }

    /* Portfolio Section */

    #Portfolio h1 {
        margin: 5px auto;
        text-align: center;
        font-size: 2.5em;
        color: #ffff;
        height: 20px;
        position: relative;
        height: 100px;
        margin-bottom: 50px;
    }

    #Portfolio h1:before {
        font-size: 1.25em;
        top: -3px;
    }


    /* Contact Section */
    #Contact h1 {
        font-size: 2.5em;

    }

    #Contact h1:before {
        font-size: 1.5em;
    }

    #Contact h1 span {
        font-size: .75em;
    }

    #Contact .container {
        height: fit-content;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    #Contact .container .CInfo {
        width: 100%;
        height: fit-content;
        color: #fff;
        margin: 0 25px;
        padding: 5px;
    }

    #Contact .container .CFrom {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #Contact .container .CFrom form {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #Contact .container .CFrom form input {
        width: 100%;
    }

}