canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #111111;
    background-image: url("");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
