/* #skills{
    min-height:350px ;
} */
.body {
    width: 70%;
    margin: 0 auto;
    /* height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills {
    padding: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.skill {
    width: 100%;
    margin: 10px 0;
}

.title {
    color: #fff;
    font-weight: 700;
}

.progress-bar {
    background: #404040;
    border-radius: 3px;
    width: 100%;
    height: 15px;
    margin-top: 5px;
    /*   overflow: hidden; */
}

/* .progress {
    width: 0;
  } */

#html .progress {
    max-width: 90%;
    height: 100%;
    background: #ffb400;
    border-radius: 3px;
    position: relative;
    animation: 1s ease 0s 1 loadBars;
}

#html .progress::after {
    content: "90%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #ffb400;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
}

#html .progress::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: -12px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffb400;
}

#css .progress {
    max-width: 70%;
    height: 100%;
    background: #ffb400;
    position: relative;
    animation: 1s ease 0s 1 loadBars;
}

#css .progress::after {
    content: "70%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #ffb400;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
}

#css .progress::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: -12px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffb400;
}

#js .progress {
    max-width: 60%;
    height: 100%;
    background: #ffb400;
    position: relative;
    animation: 1s ease 0s 1 loadBars;
}

#js .progress::after {
    content: "60%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #ffb400;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
}

#js .progress::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: -12px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffb400;
}

#vue .progress {
    max-width: 40%;
    height: 100%;
    background: #ffb400;
    border-radius: 3px;
    position: relative;
    animation: 1s ease 0s 1 loadBars;
}

#vue .progress::after {
    content: "40%";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    height: 15px;
    width: 30px;
    background: #ffb400;
    position: absolute;
    padding: 2px 3px;
    border-radius: 4px;
    right: -18px;
    top: -30px;
}

#vue .progress::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: -5px;
    top: -12px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffb400;
}

@keyframes loadBars {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}